<h1>String Interpolation</h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>
<hr>
<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation">
<p [ngClass]="{redBorder : onTest()}">is this styled?</p>
<p [ngStyle]="{color : 'green'}">is this styled?</p>
<h3>Custom Property Binding</h3>
<app-property-binding [result]="10"></app-property-binding>
<h3>Event Binding</h3>
<app-event-binding (clicked)="onClicked($event)"></app-event-binding>
<hr>
<h3>Two-way binding</h3>
<app-two-way-binding></app-two-way-binding>
<hr>
<h3>Testing works!</h3>
<app-testing (testclick)="testclick($event)"></app-testing>